/* CAROUSEL CSS */
.presentacion { 
    margin-top: 200px;
    padding: 50px;
    width: 1010px;
}

/* CSS PARA CARTA DE CONTACTO // MODALES (POPUP) */
.custom_body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.button_modal {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 50px;
    padding: 10px 15px;
}

.phone {
    color: #026CBB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone_number {
    margin-left: 10px;
    font-size: 1.6rem;
    font-weight: 600;
    color: #026CBB;
}

.phone_number2 {
    margin-left: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #026CBB;
}

/* INFO SECCIONES */
.info-container {
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info {
    max-width: 480px;
    margin-left: 50px;
}

.custom_install {
    width: 510px;
}

.serv {
    max-width: 300px;
    margin-right: 60px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    height: 430px;
    width: 100%;
    background-color: #EFF5FF;
}

.info_container_ser {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.custom_services {
    width: 300px;
}

.info_ser {
    background-color: white;
    max-width: 300px;
    margin-top: 30px;
}

/* Footer */
.footer {
    background-color: #5787C6;
    color: white;
    margin-top: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 80px 0;
}

.links {
    display: flex;
    flex-direction: column;
}

.links a {
    text-decoration: none;
    text-align: center;
    color: white;
    margin: 5px 0;
}

.contact {
    display: flex;
    flex-direction: column;
}

.fphone {
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.fphone_number {
    margin-left: 10px;
    font-size: 1.6rem;
    font-weight: 600;
    color: white;
}

.fphone_number2 {
    margin-left: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
}



/* CODIGO PARA RESPONSIVE */
@media only screen and (max-width: 1000px) {
    .presentacion {
        width: auto;
        padding: 0;
    }

    .button_modal {
        margin: 20px;
    }

    .info-container {
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .info {
        max-width: 480px;
        margin-top: 50px;
        margin-left: 0;
    }

    .custom_install {
        width: auto;
    }

    .serv {
        margin-right: 0;
    }

    .footer {
        flex-direction: column;
    }

    .fphone {
        justify-content: center;
    }
    
    .links {
        margin: 40px 0;
    }
}
