/* CAROUSEL CSS */
.presentacion { 
    margin-top: 50px;
    padding: 50px;
    width: 1010px;
}


/* CSS PARA CARTA DE CONTACTO // MODALES (POPUP) */
.custom_body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.button_modal {
    position:absolute;
    bottom:0;
    right:0;
    margin: 50px;
    padding: 10px 15px;
}

.phone {
    color: #026CBB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone_number {
    margin-left: 10px;
    font-size: 1.6rem;
    font-weight: 600;
    color: #026CBB;
}

.phone_number2 {
    margin-left: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #026CBB;
}

/* CODIGO PARA RESPONSIVE */
@media only screen and (max-width: 1000px) {
    .presentacion {
        width: auto;
        padding: 0;
    }

    .button_modal {
        margin: 20px;
    }
}
